<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a New Number</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNumberModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="another-bg" scroll="false">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="info.name" placeholder="Receiver name here..">
        </label>
        <label class="item item-input">
          <span class="input-label">Mobile Number</span>
          <input type="number" ng-model="info.number" placeholder="Receiver mobile number..">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="addNumber(info)">Save</button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>