/* Empty. Add your own CSS if you like */
.map {
  height: 100%;
  width: 100%;
}

.scroll {
  height: 100%;
}



#menu-layer-two{
	margin-top: -20px;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.bg{
	background: url("../img/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

/*.another-bg{
	background-color: #FF69B4;
}*/